.root {
  min-height: var(--page-content-height);
}

.container {
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  padding-top: calc(var(--mantine-spacing-xl) * 2);

  @mixin smaller-than $mantine-breakpoint-sm {
    padding-bottom: var(--mantine-spacing-xl);
    padding-top: var(--mantine-spacing-xl);
  }
}

.bio {
  background: linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 40%)), url("@/assets/backgrounds/glitch-noise-dark.webp");
}

.bioContent {
  color: var(--mantine-color-white);
  font-family: var(--accent-font-family);
}

.bioImageWrapper {
  height: 100%;
}

.bioImage {
  height: 100%;

  @mixin smaller-than $mantine-breakpoint-sm {
    height: 20rem;
  }
}

.bioImageCaption {
  margin-left: var(--mantine-spacing-xs);
  opacity: 0.75;
}

.bioTitle {
  font-family: inherit;
}

.travel {
  flex: 1;
}

.travelInstagramButton {
  margin-top: var(--mantine-spacing-sm);
}

.travelPhotoGridWrapper {
  flex: 1;
}
